<div class='panel'>
  <div class='form_and_image'>
    <div class='image'>
      <%= image_tag('logo.png') %>
    </div>
    <%= render 'search_form' %>
  </div>
  
  <div class='list_and_map'>
    <div class='list'>
      <%= render :template => 'routes/index' %>
    </div>
    
    <div class='map'>
    </div>
  </div>
</div>