<div class='buses_info'>
  <% if @routes.size > 0 %>
    <h4>Buses que transitan entre ambos puntos:</h4>

    <ul class='list'>
      <% @routes.each do |route| %>
        <li>Línea <%= route.name %></li>
      <% end %>
    </ul>
  <% else %>
    <h4>Disculpanos. No encontramos buses que transitan entre ambos puntos...</h4>
  <% end %>
</div>