/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  background-color: #364F92;
  font-family: Verdana;
  margin: 0;
  
}

div.header {
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 0;
  color: #fff;
  min-width: 760px;
}

div.content {
  background-color: #B0C4DE;
  padding-top: 15px;
  padding-left: 125px;
  min-height: 625px;
  min-width: 1200px;
}

div.footer {
  padding: 15px 20px;
  height: 40px;
}

div.footer .images {
  min-width: 156px;
}

div.footer .paragil img{
  padding-top: 5px;
  width: 115px;
  height: 35px;
  float: left;
}

div.footer .rails img{
  padding-top: 5px;
  width: 28px;
  height: 35px;
  float: right;
}

h5 {
  display: inline;
  font-size: 18px;
  margin: 0;
  padding-left: 300px;
}

h4 {
  color: #000080;
  text-shadow: #bbb 3px 3px 1px;
}

p.tip {
  font-size: 9px;
  margin: 0;
  margin-bottom: 0.5px;
}

div.header img{
  display: inline;
  width: 130px;
  height: 35px;
}

div.panel {
  background-image: url('fondo.jpg') ;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 30px;
  padding-bottom: 40px;
  height: 515px;
  width: 255px;
  min-width: 255px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

div.image {
  margin: 5px;
  margin-left: 5px;
  float: left;
}

div.image img {
  width: 220px;
}


ul.list {
  width: 235px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  padding-left: 45px;
  background-color :#b0c4de;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888; 
}

div.form_and_image {
  margin-top: 5px;
  width: 25%;
  min-width: 25%;
  float: left;
}

div.list_and_map {
  width: 74%;
  float: right;
}

div.list {
  width: 38%;
  float: left;
  display: none;
}

div.map {
  margin-left: 10px;
  width: 60%;
  float: right;
  display: none;
}

div.buses_info {
  padding-left: 10px;
}

input[type=submit].buscar {
  border: 0;
  background-color: #b0c4de;
  background-image: url('hex1.png');
}
input[type=submit].buscar:hover {
  background-image: url('hex2.png');
}
input[type=submit].buscar:active {
  background-image: url('hex3.png');
}

div.form-inputs span {
  display: none;
}

div.form-inputs:hover {
  position: relative;
}

div.form-inputs:hover span {
  color: #364F92;
  display: block;
  position: absolute;
  top: 300px;
  left: 230px;
  background: #D0D0FF;
  padding: 10px;
  padding-left: 15px;
  opacity: 0.8;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 220px;
}