/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-image :url('fondo.png');
  font-family: Verdana;
  margin :0;
}

h5 {
  margin :0;
}

h4 {
  color: #000080;
}

span.header {
  color: #000080;
  font-size :20px;
  margin: 8px;
}

span.footer {
  color: #000080;
  font-size :14px;
  margin: 8px;
}

div.content{
  background-color :#fff;
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-right: solid 4px #888;
  border-bottom: solid 4px #888;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 2% 15%;
  margin-top: 4px;
  padding: 5px 30px;
  padding-bottom: 40px;
  height: 500px;
}

div.image {
  margin: 5px;
  margin-left: 7px;
  float: left;
}

div.image img {
  width: 220px;
}

ul.list {
  width: 150px;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  border-right: solid 3px #888;
  border-bottom: solid 3px #888;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  padding-left: 45px;
  background-color :#b0c4de;
}

div.header {
  padding: 0.5%;
  padding-left: 2%;
  background-color: #b0c4de;
  color: #fff;
}

div.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 0.5%;
  padding-left: 2%;
  background-color: #b0c4de;
  color: #fff;
}

div.footer h5 {
  margin-left: 80%;
}

div.form_and_image {
  margin-top: 5px;
  margin-right: 20px;
  width: 25%;
  float: left;
}

div.list {
  margin-left: 10px;
  width: 30%;
  float: left;
}