/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  width: 100%;
  min-width: 1340px;
  min-height: 640px;
}

body {
  background-image :url('fondo.png');
  font-family: Verdana;
  margin: 0;
}

div.content {
  height: auto;
  margin: auto;
  min-height: 40px;
}

h5 {
  margin: 0;
  display: inline;
  font-size: 18px;
}

h4 {
  color: #000080;
  text-shadow: #bbb 3px 3px 1px;
}

p.tip {
  font-size: 9px;
  margin: 0;
  margin-bottom: 0.5px;
}

div.header img{
  display: inline;
  width: 160px;
  height: 25px;
  margin: 0;
  margin-right: 15px;
}

span.footer {
  color: #000080;
  font-size :14px;
  margin: 8px;
}

div.panel {
  background-color :#fff;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-right :920px ;
  margin-left :213px ;
  margin-top: 6px;
  margin-bottom: 28;
  padding: 5px 30px;
  padding-bottom: 40px;
  height: 515px;
  min-width: 228px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

div.image {
  margin: 5px;
  margin-left: 5px;
  float: left;
}

div.image img {
  width: 220px;
}

ul.list {
  width: 150px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  padding-left: 45px;
  background-color :#b0c4de;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888; 
}

div.header {
  background-image :url('header.png');
  padding: 0.5%;
  padding-left: 2%;
  color: #fff;
}

div.footer {
  background-image :url('footer.png');
  padding: 0.5%;
  padding-left: 2%;
  color: #fff;
  position: absolute;
  right: 0px;
  top: 735px;
  width: 100%;
}

div.footer h5 {
  margin-left: 80%;
}

div.form_and_image {
  margin-top: 5px;
  margin-right: 15px;
  width: 25%;
  min-width: 25%;
  float: left;
}

div.list_and_map {
  margin-left: 10px;
  width: 72%;
  float: right;
}

div.list {
  margin-left: 10px;
  width: 38%;
  float: left;
}

div.map {
  margin-left: 10px;
  width: 60%;
  float: right;
}

div.buses_info {
  padding-left: 10px;
}

input[type=submit].buscar {
  border: 0;
  background-color: #b0c4de;
  background-image: url('hex1.png');
}
input[type=submit].buscar:hover {
  background-image: url('hex2.png');
}
input[type=submit].buscar:active {
  background-image: url('hex3.png');
}

