// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.input {
  margin: 15px;
}

input {
  width: 160px;
  height: 18px;
}

input.button {
  margin-left: 8.5%;
  height: 50px;
  width: 160px;
}

form {
  width: 200px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  background-color :#b0c4de;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}