// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.input {
  margin: 15px;
}

input {
  width: 160px;
  height: 18px;
}

input.button {
  margin-left: 24%;
  height: 26px;
  width: 100px;
}

form {
  width: 200px;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  border-right: solid 3px #115511;
  border-bottom: solid 3px #115511;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  background-color :#AADD99;
}